<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.bme.hu/mit/dipterv/text/MinotorDsl"
			class = "hu.bme.mit.dipterv.text.minotorDsl.MinotorDslPackage"
			genModel = "model/generated/MinotorDsl.genmodel" />
	</extension>
</plugin>
